In [1]:
import numpy as np
import pandas as pd
pd.set_option("display.max_rows", None)

# Categorical Variables

usaid = pd.read_csv("USAID_GHSC-PSM_Health_Commodity_Delivery_Dataset_20240105.csv", header= 0, low_memory= False)
usaid = usaid[["Average Days Late", "Country", "Product Category", "Latest Actual Delivery Date",
               "Latest Actual Delivery Date Fiscal Quarter Year", "Shipped Quantity",
               "Transportation Mode", "Order Type", "Order Entry Date"]]
usaid.dropna(inplace= True)
usaid.isna().sum()

# Average Days Late vs Product Category:
pc_vs_adl = usaid[["Average Days Late", "Product Category", "Latest Actual Delivery Date Fiscal Quarter Year"]]
pc_vs_adl[["Latest Actual Delivery Date Fiscal Quarter Year", "Quarter"]] = \
  pc_vs_adl["Latest Actual Delivery Date Fiscal Quarter Year"].str.split("-", expand= True)
pc_vs_adl.drop("Latest Actual Delivery Date Fiscal Quarter Year", axis= 1, inplace= True)

# Pick the five most frequent Product Category
most_frequent_categories = pc_vs_adl["Product Category"].value_counts()[:10].index.to_list()
pc_vs_adl = pc_vs_adl[pc_vs_adl["Product Category"].isin(most_frequent_categories)]

# Subset by quarter:
def transform(df: pd.DataFrame, label: str, by_quarter: bool = False, quarter: str = "", *args, **kwargs):
  if by_quarter == True:
    df = df[df["Quarter"] == quarter]
    df.drop("Quarter", axis= 1, inplace= True)
    df = df.pivot(columns= label).stack(level= 0).fillna(0).reset_index(drop= True)
  else:
    df.drop("Quarter", axis= 1, inplace= True)
    df = df.pivot(columns= label).stack(level= 0).fillna(0).reset_index(drop= True)
  return df

pc_vs_adl_Q1 = transform(pc_vs_adl, by_quarter= True, quarter= "Q1", label= "Product Category")
pc_vs_adl_Q2 = transform(pc_vs_adl, by_quarter= True, quarter= "Q2", label= "Product Category")
pc_vs_adl_Q3 = transform(pc_vs_adl, by_quarter= True, quarter= "Q3", label= "Product Category")
pc_vs_adl_Q4 = transform(pc_vs_adl, by_quarter= True, quarter= "Q4", label= "Product Category")
pc_vs_adl_wholeyear = transform(pc_vs_adl, label= "Product Category")
pc_vs_adl_wholeyear.head(5)
pc_vs_adl_wholeyear.to_csv("pc_vs_adl.csv")
pc_vs_adl_Q1.to_csv("pc_vs_adl_Q1.csv")

# Numerical Variables

In [6]:
usaid = pd.read_csv("USAID_GHSC-PSM_Health_Commodity_Delivery_Dataset_20240105.csv", header= 0, low_memory= False)
usaid = usaid[["Estimated Lead Time in Days", "Illustrative Price", "Order Cycle Time", 
               "Average Days Late", "Ordered Quantity", "Shipped Quantity", "Base Unit Multiplier"]]
usaid.dropna(inplace= True)

# usaid["Ordered Quantity Total"] = usaid["Ordered Quantity"] * usaid["Base Unit Multiplier"]
usaid["Shipped Quantity Total"] = usaid["Shipped Quantity"] * usaid["Base Unit Multiplier"]
usaid.drop(["Ordered Quantity", "Base Unit Multiplier"], axis= 1, inplace= True)

usaid.head(10)
usaid.to_csv("usaid.csv")

,Estimated Lead Time in Days,Illustrative Price,Order Cycle Time,Average Days Late,Shipped Quantity,Shipped Quantity Total
28,161.0,518.58,168,-3.0,1500,72000.0
29,140.0,518.58,142,-1.0,900,43200.0
38,182.0,55.00,186,1.0,110,47520.0
39,154.0,55.00,151,-6.0,198,85536.0
42,105.0,130.00,157,-5.0,15,600.0
44,154.0,260.00,151,-6.0,306,306.0
47,126.0,34.00,164,-2.0,12,240.0
49,84.0,37.08,155,-2.0,200,200.0
50,77.0,19.15,110,6.0,191,191.0
53,98.0,30.00,107,-3.0,260,1326.0