In [33]:
import numpy as np
import scipy as sp
import pandas as pd

In [34]:
dataset = pd.read_csv("usaid.csv", header= 0, index_col= 0)
means = np.mean(dataset.to_numpy(), axis= 0)
stds = np.std(dataset.to_numpy(), axis= 0)
dataset.head(5)

   Average Days Late  Illustrative Price  Shipped Quantity  Order Cycle Time
0               -4.0              2898.0                 1               288
1               -2.0              2898.0                 1               290
2               -4.0              2898.0                 1               288
3               -4.0              2898.0                 1               288
4               -3.0              2898.0                 1               289

In [35]:
P = np.corrcoef(dataset, rowvar= False)
print(P.shape)
A = np.linalg.cholesky(P)
print(A)

(4, 4)
[[ 1.          0.          0.          0.        ]
 [-0.00355977  0.99999366  0.          0.        ]
 [ 0.01016996 -0.01840623  0.99977887  0.        ]
 [-0.01034565 -0.01491203  0.03651777  0.99916818]]

In [37]:
U = np.zeros(shape= (dataset.shape[0], dataset.shape[1]))
for idx in range(dataset.shape[0]):
    Z = np.random.randn(dataset.shape[1])
    X = A @ Z
    U[idx, :] = sp.stats.norm.cdf(X)

Y = np.zeros(shape= (dataset.shape[0], dataset.shape[1]))
for idx in range(dataset.shape[0]):
    for jdx in range(dataset.shape[1]):
        Y[idx, jdx] = np.quantile(dataset.to_numpy()[idx,jdx], U[idx,jdx])
Y

array([[-4.0000e+00,  2.8980e+03,  1.0000e+00,  2.8800e+02],
       [-2.0000e+00,  2.8980e+03,  1.0000e+00,  2.9000e+02],
       [-4.0000e+00,  2.8980e+03,  1.0000e+00,  2.8800e+02],
       ...,
       [ 1.8000e+01,  1.2480e+01,  4.9759e+04,  2.1200e+02],
       [ 7.0000e+01,  1.2480e+01,  1.6500e+04,  3.4500e+02],
       [ 0.0000e+00,  1.3400e+00,  2.5000e+04,  2.8100e+02]])