### Problem 2
(a) Read the height-weight data using R and store it in a variable named ``dat``.

In [20]:
dat <- read.csv('../datasets/heightweight.csv')

(b) Change the type of the variable `dat` from data frame to matrix using the function
`as.matrix()`. Find the dimensions of this matrix. Check using R code if it is a square matrix.
Check if there are any missing values in the data.

In [21]:
dat <- as.matrix(dat)
dim(dat)
dim(dat)[1] == dim(dat)[2]
sum(is.na(dat))

[1] 199   2

[1] FALSE

[1] 0

(c) Use R to find the height of the 34th subject and the weight of the 22nd subject.

In [ ]:
dat[34, 'height']
dat[22, 'weight']

(d) Store the height of the first 50 subjects in a variable called `ht50`, and the corresponding
weights in a variable called `wt50`. Use them to answer the next 2 questions.

In [ ]:
ht50 = dat[1:50, 'height']
wt50 = dat[1:50, 'weight']


(e) Find the average weight of the first 50 subjects. Also find the maximum weight.

In [ ]:
mean(wt50)
max(wt50)

(f) Create a height vs weight plot for the first 50 subjects. Make the points 3/4th the default
size. Points should be orange and solid dots. Put appropriate axis labels. Make axis labels 1.5
time the default size. Put an appropriate title of the plot. Make the points for the shortest
and tallest persons in this plot blue.

In [ ]:
plot(ht50, wt50,
cex = 0.75,
pch = 21,
bg = 'orange',
col = 'orange',
xlab = 'height', ylab = 'weight', 
cex.lab = 1.5,
main = 'Height vs. Weight for the first 50 subjects')

(g) Use the which() function to find the part of the data (as a submatrix) for which height is
more than 170cm. Call this submatrix subdat. Use it to answer the next 2 questions.

(h) Find how many individuals had height more than 170cm. Find the average weight of these
individuals.

### Problem 3
(a) Read the rent data using R and store it in a variable named `rentdat`.

In [23]:
rentdat <- read.csv('../datasets/Rent.csv')
rentdat

   AGE SQFT SD  UNTS GAR SS FIT RENT
1   7  692  150 408  0   1  0   508
2   7  765  100 334  0   1  1   553
3   8  764  150 170  0   1  1   488
4  13  808  100 533  0   1  1   558
5   7  685  100 264  0   0  0   471
6   7  710  100 296  0   0  0   481
7   5  718  100 240  0   1  1   577
8   6  672  100 420  0   0  1   556
9   4  746  100 410  1   1  1   636
10  4  792  100 404  1   1  1   737
11  8  797  150 252  0   1  1   546
12  7  708  100 276  0   1  0   445
13  8  797  150 252  0   0  1   533
14  6  813  100 416  0   0  0   617
15  7  708  100 536  0   1  1   475
16 16  658  100 188  1   1  1   525
17  8  809  150 192  0   1  0   461
18  7  663  100 300  0   0  1   495
19  1  719  100 300  1   1  1   601
20  1  689  100 224  0   1  1   567
21  1  737  175 310  1   1  1   633
22  1  694  150 476  1   1  1   616
23  7  768  150 264  0   1  1   507
24  6  699  150 150  0   0  0   454
25  6  733  100 260  0   1  0   502
26  7  592  100 264  0   1  1   431
27  6  589  150 516  0   1  1   418
28  8  721   75 216  0   1  0   538
29  5  705   75 212  1   1  1   506
30  6  772  150 460  0   1  1   543
31  7  758  100 260  0   1  0   534
32  7  764  100 269  0   1  0   536
33  6  722  125 216  0   0  1   520
34  1  703  100 248  0   1  0   530

(b) Find the subset of the data with only those apartments that have fitness facilities; call this
dat1. Also find the subset with no fitness facilities and call it dat2.

In [ ]:
which(rentdat[], arr.ind = TRUE)

In [ ]:
(c) Plot the relationship between square footage and rent for both these subsets of the data.
Label the plots properly and put appropriate titles.

In [ ]:
(d) While creating the two plots in part (c), on both plots, add a new point and color it in red to
indicate the oldest apartment in that subset of the data.
(e) Use a bar plot to depict the average rent for apartments with and without fitness facilities.
Do you have any comments based on the plot?